---
import Layout from '$/layouts/PageLayout.astro'
import { createI18n } from '$/scripts/i18n'

export const getStaticPaths = createI18n('l/index')
const { translations, langs } = Astro.props
const { lang } = Astro.params as { [key: string]: string }

---

<Layout {translations} {langs} {lang} theme="loggy">
	<p>This page is still under development, please wait</p>
</Layout>