---

---

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script is:inline define:vars={{url: Astro.request.url.origin}}>
		const languages = ['en', 'fr'];
		const language = navigator.language || navigator.userLanguage;
		const currentLanguage = languages.indexOf(language.substr(0, 2)) > -1 ? language.substr(0, 2) : 'en';

		window.location.replace('/' + currentLanguage + '/a/');
	</script>
</body>
</html>