---
import { Icon } from 'astro-icon'
---

<section>
	<Icon name='ic:round-construction' style='transform:scale(5);' />
	<h1>This page is still under construction, come back later !</h1>
</section>

<style>
	section {
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	h1 {
		text-align: center;
	}
</style>
