---
import { Icon } from 'astro-icon/components'
import json5 from 'json5'

interface Props {
	lang: string
}

const { lang } = Astro.props

const translation = json5.parse(await Bun.file(`./src/i18n/components/${lang}.json5`).text())
---

<section>
	<Icon name='ic:round-construction' style='transform:scale(5);' />
	<h1>{translation.Wip.title}</h1>
</section>

<style>
	section {
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	h1 {
		text-align: center;
	}
</style>
